
@import url(../../variables.css);

.contacts_page{
  position: fixed;
  right: 10px;
  bottom: 1em;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.btn-contact-page{
  background-color: #f7f6f4;
  border: none;
  height: 48px;
  width: 45px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-contact-page svg{
  font-size: 35px;
  color: var(--primary-color);
}

.info-contactUs{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  gap: 1em;
  background-color: white;
  margin-right: 1em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.info-contactUs > p{
  text-align: center;
}

.content_contact{
  width: 90%;
  max-width: 300px;
}

.contacts_page h3{
  margin-bottom: .4em;
  color: var(--primary-color);
}
.content_contact p{
  text-align: left;
  font-size: 1.1em;
  max-width: 700px;
  color: #333;
}

.contacts_page div{
  position: relative;
}

.contacts_page div span{
  position: absolute;
  cursor: pointer;
  top: -5px;
  right: -20px;
  padding: 4px;
}

.contacts_page div span svg{
  font-size: 20px;

}
