@import url(../../variables.css);

.icons-steps{
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
} 

.icons-steps div{
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  
}

.icons-steps div svg{
  font-size: clamp(22px,4vw,32px);
  transition: all .6s;
}

.icons-steps div span{
  font-size: clamp(12px,4vw,20px);
  transition: all .6s;
}

.active svg{
  fill: var(--primary-color);
}
