@import url(../../../variables.css);

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: var(--font-color);
  margin-top: 1em;
}

.welcome h1{
  font-size: clamp(1.5em,3vw,2em);
}

.welcome h1,.welcome p{
  text-align: center;
}

.welcome h1 span{
  color: var(--primary-color);
}

.welcome p{
  font-size: clamp(1.1em,3vw,1.3em);
  max-width: 600px;
}

.welcome img{
  width: 120px;
}

@media (width >= 700px){
  .welcome img{
    width: 200px;
  }
}