@import url(../../variables.css);

.model-edit-product{  
  display: grid;
  place-content: center;
  gap: 1em;
  padding: 20px;
}

.subtitle-model-edit-product{
  text-align: center;
  color: #333;
 
}

.subtitle-model-edit-product span{
  color: var(--primary-color);
}

.back-container-product-edit{
  justify-self: flex-start;
  border: none;
  background-color: #24abf2;
  display: flex;
  align-items: center;
  gap: .6em;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.back-container-product-edit svg,.back-container-product-edit span{
  color: white;
}

.back-container-product-edit svg{
  font-size: 25px;
}

.back-container-product-edit span{
  font-size: 18px;
}

.form-edit-product{
  z-index: 1;
  width: 100%;
  max-width: 300px;
  background-color: #f7f6f4;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  overflow-y: auto;
}

.selected-category-filter{
  align-self: flex-start;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  font-size: 1.1em;
  border: 1px solid var(--font-color);
} 

.selected-category-filter:focus{
  border-color: var(--primary-color);
}

.filter-gender{
  display: flex;
  gap: .6em;
}

.filter-gender > div{
  display: flex;
  align-items: center;
  gap: .6em;
}

.filter-gender > div > input{
  accent-color: var(--primary-color);
  height: 25px;
  width: 25px;
}

.filter-gender > div > label{
  font-size: 16px;
}

.btn-edit{
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}


.description-register-product{
  display: flex;
  flex-direction: column;
  position: relative;
}

.description-register-product textarea{
  outline: none;
  border: 1px solid var(--font-color);
  background-color: transparent;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
  max-width: 300px;
  transition: all .6s ease-in-out;
  height: 100px;
}

.description-register-product label{
  position: absolute;
  transition: all .5s;
  left: 5%;
  top: 10px;
  
  font-weight: bold;
  
}

.description-register-product textarea:focus + label,
.description-register-product textarea:valid + label{
  top: -8px;
  left: 4%;
  background-color: #f7f6f4;
  font-size: 14px;
  color: var(--primary-color);
}

.description-register-product textarea:focus,
.description-register-product textarea:valid{
  border-color: var(--primary-color);
}


