@import url(../../../variables.css);

.signup{
  width: 100%;
  padding: 20px;
  max-width: 900px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.signup > img{
  width: 100%;
  max-width: 500px;
}

.content-signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6em;
  max-width: 400px;
}
.content-signup h2{
  text-align: center;
}

.content-signup p{
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: center;
}

.content-signup h2, .content-signup p, .content-signup label {
  color: var(--font-color);
} 

.form-signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.3em;
  width: 100%;
}


.btn-form{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.btn-form:hover{
  transform: scale(1.04);
  box-shadow: 0 0 15px var(--primary-color);
}

.link-form{
  text-align: center;
}

.link-form a{
  color: #0b66c2;
}

@media (min-width:900px){
  .signup{
    flex-direction: row;
  }

}

